<div class="container d-flex justify-content-center mt-5">
  <form
    (ngSubmit)="onLogin()"
    class="col-12 col-md-8 col-lg-4 border p-4 rounded-4 shadow"
  >
    <h1 class="text-center mb-4">Login</h1>
    <p class="alert alert-danger" *ngIf="message">
      {{message}}
    </p>
    <div class="form-group">
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        type="email"
        name="email "
        id="email"
        [(ngModel)]="email"
      />
    </div>
    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input
        class="form-control"
        type="email"
        name="email "
        id="password"
        [(ngModel)]="password"
      />
      <a class="fs-6 text-secondary fw-light  ms-2" routerLink="/reset-password">Forget Password?</a>
    </div>
    <button class="btn btn-danger d-block mx-auto mt-3" type="submit">
      Login
    </button>
    <p class="text-center mt-3 mb-5">Don't have an account? <a routerLink="/register">Register</a></p>
    
    <hr>
    <button class="btn btn-light border rounded-pill shadow-sm d-block mx-auto w-75 mt-5  " type="button" routerLink="/login-with-phonenumber" >Continue With <i class="bi bi-phone"></i> </button>
    <button class="btn btn-light border rounded-pill shadow-sm d-block mx-auto w-75 mt-2 " type="button" (click)="onGoogle()">Continue With <i class="bi bi-google"></i> </button>
    <button class="btn btn-light border rounded-pill shadow-sm d-block mx-auto w-75 mt-2 " type="button" (click)="onFacebook()" >Continue With <i class="bi bi-facebook"></i> </button>
    <button class="btn btn-light border rounded-pill shadow-sm d-block mx-auto w-75 mt-2  " type="button" (click)="onX()" >Continue With<i class="bi bi-twitter-x"></i> </button>
     <button class="btn btn-light border rounded-pill shadow-sm d-block mx-auto w-75 mt-2 mb-4 " type="button" (click)="onGithub()" >Continue With <i class="bi bi-github"></i> </button>
   
  </form>
</div>
